.footer {
  height: var(--footer-height);
  border-top: solid 1px #eceae6;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.footer-inner {
  width: 1200px;
  padding: 25px 0;
  flex: 1;
  box-sizing: border-box;
}

.footer-description {
  border-top: solid 1px #eceae6;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .footer-inner {
    width: 100%;
    padding: 25px 40px;
  }
}
